body{
	background-color: #900C3F;
}
.Header img{
	width: 100%;
	height: 400px;
}
.Nav_bar{
	width: 100%;
	height: 40px;
}
.Nav_bar ul li{
	list-style-type: none;
	float: left;
}
.Nav_bar ul li a{
	text-decoration: none;
	color: white;
	margin-left: 200px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 0 40px;
	font-size: 18px;
}
.Content{
	background-image: url('../images/2 (2).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width:100%;
	//opacity: 0.8;
}
#para1{
	width: 40%;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	line-height: 1.80;
	font-style: oblique;
}
.tr1 td{
	padding-left: 170px;
}
.para2{
	color: #ffe0b3;
	text-align: center;
	font-style: oblique;
}
.para3{
	color:white;
	text-align: center;
	font-style: oblique;
	opacity: 0.5;
}

.pic1{
	width: 300px;
	height: 300px;
	border:2px solid yellow;
	//padding-left: 20px;
}
